{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "useTabs": false,
  "printWidth": 150,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "arrowParens": "always",
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "quoteProps": "preserve"
}