@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

:root {
  --primary-background: #f3f3f3;
  --primary-text-color: #111;
  --gradient-primary-color: #f64c32;
  --gradient-primary-color-rgb: 246, 76, 50;
  --gradient-secondary-color: #5c0a98;
  --gradient-secondary-color-rgb: 92, 10, 152;
  --animation-offset: 80px;
  --transition-cubic-bezier: 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  --transition-ease-in-out: all 0.25s ease-in-out;
}

@theme {
  --color-primary-background: #f3f3f3;
  --color-primary-text-color: #111;
  --color-gradient-primary-color: #f64c32;
  --color-gradient-secondary-color: #5c0a98;
}

@utility container {
  padding-inline: 16px;
  margin-inline: auto;

  @variant md {
    padding-inline: 6%;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: var(--primary-background);
  color: var(--primary-text-color);
  -ms-overflow-style: none;
  /* scrollbar-width: none; */
}

body:before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='5' numOctaves='3' stitchTiles='stitch'/%3E%3CfeColorMatrix type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.3;
  pointer-events: none;
  z-index: 0;
  mix-blend-mode: multiply;
}

body::-webkit-scrollbar {
  display: none;
}

.primary-gradient-circle {
  /* background: radial-gradient(circle, rgba(var(--gradient-primary-color-rgb), 0.8) 0, rgba(var(--gradient-primary-color-rgb), 0) 50%) no-repeat; */
  /* mix-blend-mode: hard-light; */
  background: var(--gradient-primary-color);
  filter: blur(60px);
  opacity: 0.9;
  mix-blend-mode: soft-light;
  will-change: transform;
  animation: dot-animation-1 20s infinite ease-in-out;
}

.secondary-gradient-circle {
  /* background: radial-gradient(circle, rgba(var(--gradient-secondary-color-rgb), 0.8) 0, rgba(var(--gradient-secondary-color-rgb), 0) 50%) no-repeat;
  mix-blend-mode: hard-light; */
  background: var(--gradient-secondary-color);
  filter: blur(60px);
  opacity: 0.9;
  mix-blend-mode: soft-light;
  will-change: transform;
  animation: dot-animation-2 20s infinite ease-in-out;
}

.text-gradient {
  background: linear-gradient(to right, var(--gradient-primary-color), var(--gradient-secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

svg.text-gradient path {
  fill: linear-gradient(to right, var(--gradient-primary-color), var(--gradient-secondary-color));
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.project-card {
  position: relative;
  display: block;
  width: 400px;
  height: 400px;
  padding: 20px;
  color: inherit;
  text-decoration: none;
}
.card-border {
  position: absolute;
  top: 40px;
  left: -40px;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.card-border svg {
  height: 100%;
  width: 100%;
}

.rect-gradient {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: erase-line 1s ease-in-out forwards;
}

.card-img-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotate(-10deg) skew(-10deg);
  overflow: hidden;
  background: white;
}

.card-img {
  transform: scale3d(0.9, 0.9, 0.9);
  opacity: 0.3;
  max-width: 200px;
  max-height: 200px;
}

.card-copy {
  position: absolute;
  bottom: 0;
  left: 85%;
  text-transform: uppercase;
  color: #aaaaaa;
  z-index: 100;
}

.card-copy--left {
  left: -25%;
}

.card-copy-title {
  font-size: 48px;
  display: block;
  transform: translateX(-var(--animation-offset));
  transition: var(--transition-cubic-bezier) 0s;
  color: black;
  line-height: 1;
}

.card-copy-title:nth-child(1) {
  transition-delay: 0.1s;
}

.card-copy-title:nth-child(2) {
  transition-delay: 0.2s;
}

.card-copy-subtitle {
  display: block;
  transform: rotate(270deg) translateY(-100%) translateX(calc(-100% - var(--animation-offset)));
  transform-origin: top left;
  position: absolute;
  left: 0;
  top: 8px;
  font-size: 24px;
  font-weight: 900;
  transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.35s;
}

.card-copy-detail {
  display: block;
  transition: var(--transition-cubic-bezier) 0.14s;
  transform: translateX(-var(--animation-offset));
}

.card-border,
.card-img-wrapper,
.card-img {
  transition: var(--transition-ease-in-out);
}
.card-border,
.card-img-wrapper {
  transform: rotate(-10deg) skew(-10deg);
}
.card-copy-title,
.card-copy-subtitle,
.card-copy-detail {
  opacity: 0;
}

.project-card:hover .card-copy-title,
.project-card:hover .card-copy-subtitle,
.project-card:hover .card-copy-detail,
.project-card:hover .card-img {
  opacity: 1;
}

.project-card:hover .card-border,
.project-card:hover .card-img-wrapper {
  transform: rotate(-14deg) skew(-14deg) scale(0.96);
}

.project-card:hover .card-img {
  transform: scale3d(1, 1, 1);
}

.project-card:hover .card-copy-title,
.project-card:hover .card-copy-detail {
  transform: translateX(0);
}

.project-card:hover .card-copy-subtitle {
  transform: rotate(270deg) translateY(-100%) translateX(-100%);
}

.project-card:hover .rect-gradient {
  animation: draw-line 3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@media screen and (max-width: 560px) {
  .project-card {
    width: 300px;
    height: 300px;
  }

  .card-img {
    max-width: 150px;
    max-height: 150px;
  }

  .card-copy-title {
    font-size: 32px;
  }

  .card-copy-subtitle {
    font-size: 16px;
  }

  .card-copy-detail {
    font-size: 16px;
  }

  .card-copy--left {
    left: -15%;
  }
}

@keyframes draw-line {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes erase-line {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 2000;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes move-in-circle {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(30px, -30px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes move-in-circle-reverse {
  0% {
    transform: translate(30px, -30px);
  }
  50% {
    transform: translate(0);
  }
  100% {
    transform: translate(30px, -30px);
  }
}

@keyframes dot-animation-1 {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(200px, 100px);
  }
  66% {
    transform: translate(100px, 300px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes dot-animation-2 {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(-150px, 200px);
  }
  66% {
    transform: translate(50px, 100px);
  }
  100% {
    transform: translate(0, 0);
  }
}
